extends ../layouts/main.pug

block variables
	- var title = 'About page - About.html';

block content
	h1 Hello from about.pug!
	h2 We use main.pug layout!
	div
		+button('Special link', 'http://ya.ru')
