extends ../layouts/main.pug

block variables
	- var title = 'Contacts page - Contacts.html';

block content
	h1 Hello from contacts.pug!
	h2 We use main.pug layout!
	div
		+button('Special link #2', 'http://google.com')
