extends ../layouts/main.pug

block variables
	- var title = 'Main page - index.html';

block content
	h1 Hello from index.pug!
	h2 We use layouts! From main.pug! Wow!

	nav
		+button('Index page', 'index.html' )
		+button('About page', 'about.html' )
		+button('Contacts page', 'contacts.html' )
